/* Screen Sizes */
* {
  margin: 0px;
  padding: 0px;
}

.navbar {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.navbar .navbar-container {
  display: flex;
}
@media (max-width: 479px) {
  .navbar .navbar-container {
    flex-direction: column;
    margin-bottom: 10px;
  }
}
.navbar .logo-container {
  width: 70px;
  margin-bottom: 10px;
}
@media (max-width: 479px) {
  .navbar .logo-container {
    width: 50px;
  }
}
.navbar .logo-container img {
  width: 100%;
}
.navbar .search-button {
  margin-left: 10px;
  background-color: #EE1D23;
}
.navbar .search-button:hover {
  background-color: #EE1D23;
}
.navbar .search-button:hover i {
  color: #fff;
}
.navbar .search-button i {
  color: #fff;
}

.nav {
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 0px;
}
@media (max-width: 479px) {
  .nav {
    flex-direction: column;
    margin-right: 0px;
  }
}
.nav .nav-link {
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-weight: bold;
  background-color: #EE1D23;
  color: #fff;
  margin-right: 20px;
}
@media (max-width: 479px) {
  .nav .nav-link {
    margin-bottom: 10px;
    margin-right: 0px;
  }
}
.nav .nav-link.active {
  background-color: transparent;
  border: 2px solid #EE1D23;
  color: #EE1D23;
}

.recipe-card {
  padding: 20px;
  margin: 20px 0px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.recipe-card .recipe-card-img-container {
  height: 180px;
  overflow: hidden;
}
.recipe-card .recipe-card-img-container img {
  width: 100%;
}
.recipe-card .recipe-card-content {
  padding: 20px 0px;
}
.recipe-card .recipe-card-content .recipe-card-heading {
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  font-size: 30px;
}
.recipe-card .recipe-card-content .indicator-container {
  margin-bottom: 10px;
}
.recipe-card .recipe-card-content .indicator-container .recipe-card-indicators {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  color: #EE1D23;
}
.recipe-card .recipe-card-content .indicator-container .recipe-time, .recipe-card .recipe-card-content .indicator-container .recipe-ing {
  line-height: 30px;
}
.recipe-card .recipe-card-content .indicator-container .recipe-time .row {
  align-items: center;
  margin: 0px;
}
.recipe-card .recipe-card-content .indicator-container .recipe-time .row + span {
  font-weight: 100px;
  font-size: 20px;
}
.recipe-card .recipe-card-content .indicator-container .recipe-time .row .time-icon {
  padding: 0;
  flex: 0;
}
.recipe-card .recipe-card-content .indicator-container .recipe-time .row .time-text {
  padding: 0;
  flex: 0;
  font-size: 30px;
  padding-left: 5px;
  font-weight: bold;
}
.recipe-card .recipe-card-content .indicator-container .recipe-ing .row {
  align-items: center;
  margin: 0px;
}
.recipe-card .recipe-card-content .indicator-container .recipe-ing .row + span {
  font-weight: 100px;
  font-size: 20px;
}
.recipe-card .recipe-card-content .indicator-container .recipe-ing .row .book-icon {
  padding: 0;
  flex: 0;
}
.recipe-card .recipe-card-content .indicator-container .recipe-ing .row .book-text {
  padding: 0;
  flex: 0;
  font-size: 30px;
  padding-left: 5px;
  font-weight: bold;
}
.recipe-card .recipe-card-content .recipe-btn-container {
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}
.recipe-card .recipe-card-content .recipe-btn-container .recipe-btn {
  width: 80%;
  border-radius: 10px;
  border: none;
  background: #EE1D23;
  color: #fff;
  padding: 10px;
}

#recipe-card_modal #recipe-card_modal .modal-content {
  border-radius: 0px;
}
#recipe-card_modal #recipe-card_modal .modal-content .modal-title {
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-style: normal;
}
#recipe-card_modal #datatable {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
}
#recipe-card_modal #datatable thead {
  background-color: #EE1D23;
  color: #fff;
}

.navbar-home-page {
  position: fixed;
  width: 100%;
}
@media (max-width: 479px) {
  .navbar-home-page .logo-container {
    z-index: 100;
    width: 100px;
  }
}

.home-page {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.home-page .row .tile a {
  background: #EE1D23;
  color: #fff;
  margin: 10px;
  border: none;
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  text-align: center;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
}
.home-page .row .tile a:hover {
  background-color: transparent;
  border: 2px solid #EE1D23;
  color: #EE1D23;
}/*# sourceMappingURL=style.css.map */